<div id = 'lessons_word'>
  <h3>Add word to lesson</h3>
  <%= form_with model: @lessons_word do |form| %>
    <%= form.text_field :word_id, placeholder: "word_id" %>
    <%= form.text_field :lesson_id, placeholder: "lesson_id" %>
    <%= form.submit %>
  <% end %>
</div>
