<h3>Edit Profile</h3>

<%= form_with(model: @user, url: profile_path) do |form| %>
  <%= form.text_field :email, placeholder: "email" %>
  <%= form.text_field :first_name, placeholder: "first_name" %>
  <%= form.submit %>
<% end %>
