<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.first_name %>!</h1>
    <p>
    You have deleted your account from the example.com.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
