Hello, <%= @user.first_name %>!
===============================================

We would like to remind you about lesson number  <%= @lesson.id %>: <%= @lesson.title %> 
today: <%= link_to 'start lesson', @lesson_show_url %>.

Also at this link <%= link_to 'pass test', @pass_test_url %>
you can take a test of knowledge of words from the lesson.

Thanks for joining and have a great day!
