<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.first_name %>!</h1>
    <p>
      We would like to remind you about lesson number <%= @lesson.id %>: <%= @lesson.title %> 
      today: <%= link_to 'start lesson', @lesson_show_url %>.
    </p>
    <p>
    Also at this link <%= link_to 'pass test', @pass_test_url %>
    you can take a test of knowledge of words from the lesson.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
