<ul>
  <% @groups.each do |group| %>
    <li><%= link_to group.name, group_path(group)  %></li> # title?
  <% end %>
</ul>

<table>
  <% @groups.each do |group| %>
    <tr>
      <td><%= link_to group.name, group_path(group) %></td> # title?
      <td><%= button_to 'Edit', edit_group_path(group), method: 'get'%></td>
      <td><%= button_to 'Remove', group_path(group), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</table>
<%= link_to "Add a New Group", new_group_path %>
