<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">


  <style type ="text/css">

      .hidden.menu {
          display: none;
      }

      .masthead.segment {
          min-height: 700px;
          padding: 1em 0em;
      }
      .masthead .logo.item img {
          margin-right: 1em;
      }
      .masthead .ui.menu .ui.button {
          margin-left: 0.5em;
      }
      .masthead h1.ui.header {
          margin-top: 3em;
          margin-bottom: 0em;
          font-size: 4em;
          font-weight: normal;
      }
      .masthead h2 {
          font-size: 1.7em;
          font-weight: normal;
      }

      .ui.vertical.stripe {
          padding: 8em 0em;
      }
      .ui.vertical.stripe h3 {
          font-size: 2em;
      }
      .ui.vertical.stripe .button + h3,
      .ui.vertical.stripe p + h3 {
          margin-top: 3em;
      }
      .ui.vertical.stripe .floated.image {
          clear: both;
      }
      .ui.vertical.stripe p {
          font-size: 1.33em;
      }
      .ui.vertical.stripe .horizontal.divider {
          margin: 3em 0em;
      }

      .quote.stripe.segment {
          padding: 0em;
      }
      .quote.stripe.segment .grid .column {
          padding-top: 5em;
          padding-bottom: 5em;
      }

      .footer.segment {
          padding: 5em 0em;
      }

      .secondary.pointing.menu .toc.item {
          display: none;
      }

      @media only screen and (max-width: 700px) {
          .ui.fixed.menu {
              display: none !important;
          }
          .secondary.pointing.menu .item,
          .secondary.pointing.menu .menu {
              display: none;
          }
          .secondary.pointing.menu .toc.item {
              display: block;
          }
          .masthead.segment {
              min-height: 350px;
          }
          .masthead h1.ui.header {
              font-size: 2em;
              margin-top: 1.5em;
          }
          .masthead h2 {
              margin-top: 0.5em;
              font-size: 1.5em;
          }
      }


  </style>

  <script src="assets/library/jquery.min.js"></script>
  <script src="../dist/components/visibility.js"></script>
  <script src="../dist/components/sidebar.js"></script>
  <script src="../dist/components/transition.js"></script>
  <script>
      $(document)
          .ready(function() {

              // fix menu when passed
              $('.masthead')
                  .visibility({
                      once: false,
                      onBottomPassed: function() {
                          $('.fixed.menu').transition('fade in');
                      },
                      onBottomPassedReverse: function() {
                          $('.fixed.menu').transition('fade out');
                      }
                  })
              ;

              // create sidebar and attach to menu open
              $('.ui.sidebar')
                  .sidebar('attach events', '.toc.item')
              ;

          })
      ;
  </script>
</head>
<body>

<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
<!--  <div class="ui container">-->
<!--    <a class="active item">Home</a>-->
<!--    <a class="item">Work</a>-->
<!--    <a class="item">Company</a>-->
<!--    <a class="item">Careers</a>-->
    <div class="right menu">
      <div class="item">
        <a class="ui button">Log in</a>
      </div>
      <div class="item">
        <a class="ui primary button">Sign Up</a>
      </div>
    </div>
<!--  </div>-->
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
<!--  <a class="active item">Home</a>-->
<!--  <a class="item">Work</a>-->
<!--  <a class="item">Company</a>-->
<!--  <a class="item">Careers</a>-->
  <a class="item">Login</a>
  <a class="item">Signup</a>
</div>


<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
<!--        <a class="active item">Home</a>-->
<!--        <a class="item">Work</a>-->
<!--        <a class="item">Company</a>-->
<!--        <a class="item">Careers</a>-->
        <div class="right item">
        <% if user_signed_in?  %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class:"ui inverted button" %>
        <% else %>  
        <%= link_to "Log in", new_user_session_path, class:"ui inverted button" %>
        <%= link_to "Sign in", new_user_registration_path, class:"ui inverted button" %>
        <% end %>  
        </div>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        English for IT
      </h1>
      <h2>Learn IT smart! ;)</h2>
      <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">What's this app for?</h3>
          <p>Hi, Everybody! Welcome to our application for developers! We know that it is really important to know English in IT.
          Every developer should know this language for reading documentation, working with code and understanding programs.
          With English you will be able to read the best of the resources from Internet. And we also know, than learning Englsh
          can be difficult. Our App can help you to learn and remember Eng. words easy & fast. So... What are you waiting for? Try it out !</p>
<!--          <h3 class="ui header">We Make Bananas That Can Dance</h3>-->
<!--          <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>-->
        </div>
        <div class="six wide right floated column">
          <img src="learn-new-language/app/views/home/city-buildings-skyline-metropolitan-area_31965-7268.jpg" class="ui large bordered rounded image" alt="Picture with city">
        </div>
      </div>
<!--      <div class="row">-->
<!--        <div class="center aligned column">-->
<!--          <a class="ui huge button">Check Them Out</a>-->
<!--        </div>-->
      </div>
    </div>
  </div>

  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Authors</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Valeria Radchenko</a>
            <a href="#" class="item">Denys Davydov</a>
            <a href="#" class="item">Maria Voitovych</a>
            <a href="#" class="item">Weremite</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Mentors</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Viktor</a>
            <a href="#" class="item">Pavlo Kasianchuk</a>
<!--            <a href="#" class="item">How To Access</a>-->
<!--            <a href="#" class="item">Favorite X-Men</a>-->
          </div>
        </div>
<!--        <div class="seven wide column">-->
<!--          <h4 class="ui inverted header">Footer Header</h4>-->
<!--          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>

</body>

</html>
