<div class="lesson-main"> 
  <h1 class="lesson-header"> Your last lessons: </h1>

  <div class="ui grid container">
    <% @lessons.each do |lesson|%>
      <div class="four wide column">
        <div class="lesson-example">
          <div class="lesson-column-content">
            <%= image_tag "pexels-fauxels-3183132.jpg", height: 150 %> <br>
            <%= lesson.id %>. <%= link_to lesson.title, lesson_path(lesson), class: "white-label" %>
          </div> 
        </div>  
      </div>
    <% end %> 
  </div>
</div>
