<div id = "lesson">
  <h3>Create a lesson</h3>
  <%= form_with model: @lesson do |form| %>
    <%= form.text_field :title, placeholder: "title" %>
    <%= form.text_field :group_id, placeholder: "group_id" %>

    <%= form.submit %>
  <% end %>
</div>