<div class="lesson-main"> 
  <h1 class="lesson-header"> Lesson <%= @lesson.id %>. <%= @lesson.title %> </h1>


<h2> Lessons words: </h2>

<ul id = 'index word'>
  <% @lesson.words.each do |word|%>
    <li><%= link_to word.word, word_path(word)  %></li> 
  <% end %> 
</ul>

<h2> PASS TEST: </h2>

<div>
  <% @lesson.tests.each do |test|%>
    <%= link_to "Pass #{test.id} test", new_test_path(lesson_id: @lesson.id), class: "btn ui secondary button" %> 
  <% end %> 
</div>
</div>

 