<div id = 'create_word'>
  <h3>Create a word</h3>
  <%= form_with model: @word do |form| %>
    <%= form.text_field :word, placeholder: "word" %>
    <%= form.text_field :description, placeholder: "description" %>
    <%= form.submit %>
  <% end %>
</div>
