@import 'semantic-ui';

.lesson-header{
  text-align: center;
  color: white;
  padding-top: 100px;
}

.lesson-example{
  padding: 10px, 50px;
  font-size: large;
  font-weight: bold;
  background-color: rgba(70, 63, 54, 0.493);
  color: white;

}

.lesson-main{
  background-color: rgb(207, 174, 130);
}

.lesson-column-content{
  padding: 15px;
}

.white-label{
  color: white;
}