<%= form_with(model: @test, url: tests_path, class: 'ui form') do |form| %>
  <div class="field">
    <%= hidden_field_tag 'lesson_id', params[:lesson_id] %>
    <% @lesson.words.each do |word| %>
      <%= form.label word.word %>
      <%= text_field_tag "user_translations[#{word.id}]" %>
    <% end %>

  </div>
  <%= form.submit "Submit", class: 'ui button'%>
<% end %>
