<div id="test">
  <h1 class="ui centered grid"><%= Lesson.find_by(id: params[:lesson_id]).title %></h1>

  <div class="ui two column centered grid">
    <div class="column">
      <%= render 'form', test: @test %>
    </div>
  </div>
</div>
