<p id="notice"><%= notice %></p>

<% hash = eval(Test.find_by(id: params[:id]).user_translations) %>

<h1 class="ui centered grid">Results</h1>
<br>
<div class="ui two column centered grid">
  <div class="column">
    <table class="ui celled table">
      <thead>
      <tr><th>Word in English</th>
      <th>Translation</th>
      <th>Your translation</th></tr>
    </tr></thead>
      <tbody>
        <% hash.each do |key, value| %>
        <tr>
          <td data-label="Word in English"><%= Word.find_by(id: key).word %></td>
          <td data-label="Translation"><%= Word.find_by(id: key).translation %></td>
          <td data-label="Your translation"><%= value %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<div class="ui centered grid">
  <h3>Your mark is <%= Test.find_by(id: params[:id]).mark %>%</h3>
</div>

<!-- <%= link_to 'Back', tests_path %> -->
